## CapstoneProject: Student Competency Analysis

### TASK 3

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName("Capstone Project").enableHiveSupport().getOrCreate()

In [3]:
spark

In [4]:
spark.sql("use capstoneproject")

++
||
++
++

In [5]:
spark.catalog.currentDatabase()

'capstoneproject'

In [6]:
spark.catalog.listTables()

[Table(name='studentcoursecompletionstatus', database='capstoneproject', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='studentcoursedetails', database='capstoneproject', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='studentcoursedetails_no_partition', database='capstoneproject', description=None, tableType='MANAGED', isTemporary=False)]

In [7]:
spark.sql("show tables").show()

+---------------+--------------------+-----------+
|       database|           tableName|isTemporary|
+---------------+--------------------+-----------+
|capstoneproject|studentcoursecomp...|      false|
|capstoneproject|studentcoursedetails|      false|
|capstoneproject|studentcoursedeta...|      false|
+---------------+--------------------+-----------+

#### Creating DataFrame from Hive Tables

In [8]:
df1_coursecompletion = spark.read.table("capstoneproject.studentcoursecompletionstatus")

In [9]:
df1_coursecompletion.printSchema()

root
 |-- studentsid: string (nullable = true)
 |-- courseid: string (nullable = true)
 |-- examdate: string (nullable = true)
 |-- attendedstatus: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- result: string (nullable = true)

In [10]:
df1_coursecompletion.show()

+----------+--------+---------+--------------+-----+-------------+
|studentsid|courseid| examdate|attendedstatus|marks|       result|
+----------+--------+---------+--------------+-----+-------------+
|     S0001|   C0001|17 Feb 19|      Attended|   70|    Qualified|
|     S0298|   C0008|24 Feb 19|      Attended|   70|    Qualified|
|     S0297|   C0007|23 Feb 19|        Absent|    0|Not Qualified|
|     S0296|   C0030|20 Feb 19|      Attended|   70|    Qualified|
|     S0291|   C0013| 1 Mar 19|      Attended|   85|    Qualified|
|     S0290|   C0017| 5 Mar 19|        Absent|    0|Not Qualified|
|     S0289|   C0016| 4 Mar 19|        Absent|    0|Not Qualified|
|     S0288|   C0015| 3 Mar 19|        Absent|    0|Not Qualified|
|     S0287|   C0014| 2 Mar 19|        Absent|    0|Not Qualified|
|     S0286|   C0013| 1 Mar 19|      Attended|   85|    Qualified|
|     S0285|   C0012|28 Feb 19|      Attended|   70|    Qualified|
|     S0284|   C0011|27 Feb 19|        Absent|    0|Not Qualified|
|     S0283|   C0010|26 Feb 19|        Absent|    0|Not Qualified|
|     S0281|   C0008|24 Feb 19|      Attended|   70|    Qualified|
|     S0280|   C0007|23 Feb 19|        Absent|    0|Not Qualified|
|     S0279|   C0006|22 Feb 19|        Absent|    0|Not Qualified|
|     S0278|   C0005|21 Feb 19|        Absent|    0|Not Qualified|
|     S0276|   C0003|19 Feb 19|      Attended|   70|    Qualified|
|     S0275|   C0017| 5 Mar 19|        Absent|    0|Not Qualified|
|     S0274|   C0016| 4 Mar 19|        Absent|    0|Not Qualified|
+----------+--------+---------+--------------+-----+-------------+
only showing top 20 rows

In [11]:
type(df1_coursecompletion)

pyspark.sql.dataframe.DataFrame

In [12]:
df2_coursedetails = spark.read.table("capstoneproject.studentcoursedetails")

In [13]:
df2_coursedetails.show()

+--------+--------------------+--------------------+----------+--------------------+
|courseid|               title|          competency|complexity|          coursetype|
+--------+--------------------+--------------------+----------+--------------------+
|   C0001|Certificate in Cl...|           Technical|     Basic|               Cloud|
|   C0002|Certificate in Vi...|           Technical|     Basic|               Cloud|
|   C0003|"Diploma in Infor...| Networking and C...|  Security|               Cloud|
|   C0004|BE (Hons) in CSE ...|              Domain|  Advanced|               Cloud|
|   C0005|BTech in Computer...|              Domain|  Advanced|               Cloud|
|   C0006|BTech in Computer...|              Domain|  Advanced|               Cloud|
|   C0007|BCA with Microsof...|            Security|  Advanced|               Cloud|
|   C0008|BTech in Informat...|           Technical|  Advanced|               Cloud|
|   C0009|MCA with speciali...|           Technical|  Advanced|               Cloud|
|   C0010|ME in Cloud Compu...|           Technical|     Basic|               Cloud|
|   C0011|MTech Computer Sc...|           Technical|     Basic|               Cloud|
|   C0012|Bachelor’s in Com...|              Domain|     Basic|Hardware and Netw...|
|   C0013|B.Sc in Hardware ...|              Domain|  Advanced|Hardware and Netw...|
|   C0014|BTech in IT and N...|              Domain|     Basic|Hardware and Netw...|
|   C0015|BS in Hardware an...|              Domain|     Basic|Hardware and Netw...|
|   C0016|BSc in Networking...|              Domain|     Basic|Hardware and Netw...|
|   C0017|M.Tech in Network...|              Domain|  Advanced|Hardware and Netw...|
|   C0018|M.Sc in Hardware ...|              Domain|  Advanced|Hardware and Netw...|
|   C0019|MSc in Wireless N...|              Domain|  Advanced|Hardware and Netw...|
|   C0020|Diploma in Comput...|              Domain|  Advanced|Hardware and Netw...|
+--------+--------------------+--------------------+----------+--------------------+
only showing top 20 rows

#### Total number of students per result category

In [15]:
df1_coursecompletion.groupby('courseid','result').count().orderBy('courseid').show()

+--------+-------------+-----+
|courseid|       result|count|
+--------+-------------+-----+
|   C0001|    Qualified|   10|
|   C0002|Not Qualified|   10|
|   C0003|    Qualified|   11|
|   C0004|    Qualified|   11|
|   C0005|Not Qualified|   11|
|   C0006|Not Qualified|   11|
|   C0007|Not Qualified|   18|
|   C0008|    Qualified|   18|
|   C0009|    Qualified|   18|
|   C0010|Not Qualified|   19|
|   C0011|Not Qualified|   14|
|   C0012|    Qualified|   14|
|   C0013|    Qualified|   16|
|   C0014|Not Qualified|   15|
|   C0015|Not Qualified|   15|
|   C0016|Not Qualified|   16|
|   C0017|Not Qualified|   14|
|   C0018|    Qualified|    6|
|   C0019|    Qualified|    5|
|   C0020|    Qualified|    5|
+--------+-------------+-----+
only showing top 20 rows

In [16]:
df1_coursecompletion.groupby('result').count().show()

+-------------+-----+
|       result|count|
+-------------+-----+
|Not Qualified|  149|
|    Qualified|  151|
+-------------+-----+

#### Total number of students absent

In [17]:
df1_coursecompletion.where(df1_coursecompletion["attendedstatus"] == "Absent").count()

149

In [19]:
df1_coursecompletion.where(df1_coursecompletion["attendedstatus"] == "Absent").groupby('courseid') \
.count().orderBy('courseid').show()

+--------+-----+
|courseid|count|
+--------+-----+
|   C0002|   10|
|   C0005|   11|
|   C0006|   11|
|   C0007|   18|
|   C0010|   19|
|   C0011|   14|
|   C0014|   15|
|   C0015|   15|
|   C0016|   16|
|   C0017|   14|
|   C0022|    2|
|   C0023|    2|
|   C0024|    1|
|   C0025|    1|
+--------+-----+

#### Maximum, minimum and average marks scored by students

In [20]:
df1_coursecompletion.registerTempTable("df1_table")

In [21]:
spark.sql("SELECT MAX(marks) as maxval, MIN(marks) as minval, AVG(marks) as avgval FROM df1_table").first().asDict()

{'maxval': 92, 'minval': 0, 'avgval': 40.013333333333335}

In [25]:
#Alternate Methods

In [22]:
df1_coursecompletion.agg({'marks':'max'})

+----------+
|max(marks)|
+----------+
|        92|
+----------+

In [23]:
df1_coursecompletion.agg({'marks':'min'})

+----------+
|min(marks)|
+----------+
|         0|
+----------+

In [24]:
df1_coursecompletion.agg({'marks':'avg'})

+------------------+
|        avg(marks)|
+------------------+
|40.013333333333335|
+------------------+